@{
    ViewBag.Title = "حول الموقع";
}
<h2>@ViewBag.Title.</h2>


<p>موقع الوصفات البرمجية هو مساحة لتقديم أكواد برمجية جاهزة وبمختلف لغات البرمجة للمبرمجيين المبتدئيين والمهتميين بالبرمجة بشكل عام.</p>


<div>
    @Html.ActionLink("العودة إلى الرئيسية", "Index")
</div>